@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <td>
            <strong>Discord:</strong> 
        </td>
        <td>
            <a href="https://discord.gg/mCzdcUD">https://discord.gg/mCzdcUD</a><br />
        </td>
    </tr>
    <tr>
        <td>
            <strong>In-game:</strong>
        </td>
        <td>
            <p class="info">Realm: Silvermoon-EU. Nymphera, Corlumina, Shaizeng, Kurdekar.</p>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Need help?</strong>
        </td>
        <td>
            <p class="info">Contact one of the officers and they will get back to you as soon as possible!</p>
        </td>
    </tr>
</table>